
  <div class="row">
    <div class="col-md-4">First Name</div>
    <div class="col-md-8">{{ employee.firstname}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Last Name</div>
    <div class="col-md-8">{{ employee.lastname }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Gender</div>
    <div class="col-md-8">{{ employee.gender }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Phone Number</div>
    <div class="col-md-8">{{ employee.phonenumber }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Email Address</div>
    <div class="col-md-8">{{ employee.emailaddress }}</div>
  </div>

<a class="btn btn-success" [routerLink]="['/employees']"  queryParamsHandling='preserve'>Back</a>
