<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">NGLCPS</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/employees']" [ngClass]="{ disabled: !loginService.isLoggedIn() }">Employee Dashboard</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loginService.isLoggedIn()">
          <a>Welcome {{ loginService.currentUser.userName }}</a>
        </li>
        <li *ngIf="!loginService.isLoggedIn()">
          <a [routerLink]="['/login']">Log in</a>
        </li>
        <li *ngIf="loginService.isLoggedIn()">
          <a (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
