<div class="panel panel-default">
  <div class="panel-heading">
    Employee Details
  </div>

  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive='active'>
        <a [routerLink]="['basicInfo']" queryParamsHandling='preserve' >Basic Info</a>
      </li>
      <li role="presentation" routerLinkActive='active'>
        <a [routerLink]="['addressInfo']" queryParamsHandling='preserve'>Address Info</a>
      </li>
    </ul>
    <div class="tabContent">
      <router-outlet></router-outlet> <!-- CHILD ROUTE TEMPLATES WILL BE DISPLAYED HERE -->
    </div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary pull-right" (click)="onAddressClick()">Address Info</a>
    <a class="btn btn-success" [routerLink]="['/employees']"
     queryParamsHandling='preserve'>Back</a>
     <a *ngIf="employeeSharedService.isAddressInfoRoute" class="btn btn-danger"
     (click)='onAddressInfoEdit()'>Edit Address</a>
  </div>
</div>


