<div class="main">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Login</h2>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" #username class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" #password class="form-control" (keyup.enter)="onSubmit(username.value, password.value)">
      </div>
      <div class="pull-right">
        <button class="btn btn-primary" type='button' (click)='onSubmit(username.value, password.value)'>Login</button>
      </div>
    </form>
  </div>
</div>
</div>
