<form novalidate [formGroup]='employeeForm' (ngSubmit)='onSubmit()'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="title">Employee Form</h4>
    </div>
    <div class="panel-body">
      <div class="col-xs-6">
        <!-- First Name -->
        <div class="form-group">
          <label for="txtFirstName">First Name</label>
          <input type="text" id="txtFirstName" formControlName='firstName' placeholder="Enter your first name" class="form-control">
          <div class="alert-danger" *ngIf="employeeForm.get('firstName').errors?.required">
            Firstname is required.
          </div>
          <div class="alert-danger" *ngIf="employeeForm.get('firstName').errors?.minlength">
            Firstname must be at least 3 character long.
          </div>
        </div>
        <!-- Last Name -->
        <div class="form-group">
          <label for="txtLastName">Last Name</label>
          <input type="text" id="txtLastName" formControlName='lastName' placeholder="Enter your last name" class="form-control">
          <div class="alert-danger" *ngIf="employeeForm.get('lastName').errors?.required">
            Lastname is required.
          </div>
        </div>
        <!-- Gender -->
        <div class="form-group">
          <label>Gender</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" id="rbMale" value="male" formControlName='gender'> Male
            </label>
            <label class="radio-inline">
              <input type="radio" id="rbFemale" formControlName='gender' value="female"> Female
            </label>
          </div>
        </div>
        <!-- Age -->
        <div class="form-group">
          <label for="txtAge">Age</label>
          <input type="number" formControlName='age' id="txtAge" class="form-control" placeholder="Enter your age">
          <div class="alert-danger" *ngIf="employeeForm.get('age').invalid">
            Entered age value is invalid.
          </div>
        </div>
        <!-- Department -->
        <div class="form-group">
          <label for="ddDepartments">Departments</label>
          <select formControlName="department" id="ddDepartments" class="form-control">
            <option value="">-- select a department --</option>
            <option *ngFor='let d of data?.departments' [value]='d.text'>
              {{ d.value}}
            </option>
          </select>
          <div class="alert-danger" *ngIf="employeeForm.get('department').errors?.required">
            Department is required.
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <!-- Email Address -->
        <div class="form-group">
          <label for="txtEmailAddress">Email Address</label>
          <input type="text" id="txtEmailAddress" placeholder="Enter your email address" class="form-control" formControlName='emailAddress'>
          <div class="alert-danger"
            *ngIf="employeeForm.get('emailAddress').errors?.required">
            Email address is required.
          </div>
          <div class="alert-danger" *ngIf="employeeForm.get('emailAddress').errors?.pattern">
            Email address is invalid.
            </div>
        </div>
        <!-- Phone Type and Phone Number -->
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>Phone Type</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input type="radio" formControlName="phoneType" value="home"> Home
                </label>
                <label class="radio-inline">
                  <input type="radio" formControlName="phoneType" value="work"> Work
                </label>
                <label class="radio-inline">
                  <input type="radio" formControlName="phoneType" value="mobile"> Mobile
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="txtPhoneNumber">Phone Number</label>
              <input type="text" id="txtPhoneNumber" formControlName='phoneNumber' placeholder="Enter your phone number" class="form-control">
              <div class="alert-danger"
              *ngIf="employeeForm.get('phoneNumber').errors?.required">
              Phone number is required.
            </div>
            </div>
          </div>
        </div>
        <!-- Send notifications by -->
        <div class="form-group">
          <label>Send notifications by:</label>
          <div class="form-control">
            <input type="hidden" formControlName='notificationMethods' />
            <label class="checkbox-inline" *ngFor="let method of data?.notificationmethods; let i=index">
              <input type="checkbox" id="method{{i}}" (change)="changeCheckbox(method, $event)" [checked]="checkedStatus(method)"> {{ method.text }}
            </label>
          </div>
          <div class="alert-danger" *ngIf="employeeForm.get('notificationMethods').errors?.required">
            At least one notification method needs to be selected.
          </div>
        </div>
        <!-- Language Skills -->
        <div class="form-group">
          <label for="ddLanguages">Language Skills (multiple)</label>
          <select id="ddLanguages" formControlName="languageSkills" multiple class="form-control">
            <option value="">-- select language(s)</option>
            <option *ngFor="let language of data?.languages" [value]="language.value">
              {{ language.text }}
            </option>
          </select>
          <div class="alert-danger" *ngIf="employeeForm.get('languageSkills').errors?.LanguageSkills">
            You may select maximum 3 languages.
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <!-- Notes -->
        <div class="form-group">
          <label for="txtNotes">Notes</label>
          <textarea name="txtNotes" id="txtNotes" rows="3" class="form-control" placeholder="Additional information"></textarea>
        </div>
      </div>
      <!-- Certificates -->
      <div class="col-xs-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <span style="font-weight: bold; font-size:1.6em;">Certificates</span>
            <span>
              <i class="btn btn-default glyphicon glyphicon-plus pull-right" (click)='addCertificate()'></i>
            </span>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6" formArrayName="certificates"
              *ngFor="let certificate of certificates.controls; let i = index" >
                <div class="panel panel-success" [formGroupName]="i">
                  <div class="panel-body">
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="txtCertificateName">Certificate Name:</label>
                        <input type="text" id="txtCertificateName" formControlName="certificateName" class="form-control" />
                        <div class="alert-danger" *ngIf="certificates.controls[i].controls.certificateName.errors?.required">
                          Certificate Name is required.
                        </div>
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="txtCertificateDate">Issued Date:</label>
                        <input type="text" id="txtCertificateDate" formControlName="certificateDate" class="form-control" />
                        <div class="alert-danger" *ngIf="certificates.controls[i].controls.certificateDate.errors?.required">
                          Issued date is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" [disabled]='employeeForm.invalid' class="btn btn-primary pull-right">Submit</button>
      <div class="clearfix"></div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-12">
    {{ employeeForm.value | json }}
  </div>
</div>
