<form novalidate #employeeForm="ngForm" (ngSubmit)='saveEmployee(employeeForm)'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="title">Employee Form</h4>
    </div>
    <div class="panel-body">
      <div class="col-xs-6">
        <!-- First Name -->
        <div class="form-group">
          <label for="txtFirstName">First Name</label>
          <input type="text" id="txtFirstName" name='firstname' [(ngModel)]='employee.firstname' placeholder="Enter your first name"
            class="form-control" #firstname='ngModel' required>
          <div *ngIf="firstname?.errors?.required && firstname.touched" class="alert-danger">
            Firstname is required
          </div>
        </div>
        <!-- Last Name -->
        <div class="form-group">
          <label for="txtLastName">Last Name</label>
          <input type="text" id="txtLastName" name="lastname" [(ngModel)]="employee.lastname" placeholder="Enter your last name" class="form-control"
            #lastname='ngModel' required>
          <div *ngIf="lastname?.errors?.required && lastname.touched" class="alert-danger">
            Lastname is required
          </div>
        </div>
        <!-- Gender -->
        <div class="form-group">
          <label>Gender</label>
          <div class="form-control">
            <label class="radio-inline" *ngFor="let gender of data.genders; let i=index">
              <input type="radio" id="rbMale" name="gender" [(ngModel)]='employee.gender' [value]="gender.value" required> {{ gender.text }}
            </label>
          </div>
          <div *ngIf="employeeForm.controls.gender?.errors?.required" class="alert-danger">
            Gender selection is required
          </div>
        </div>
        <!-- Age -->
        <div class="form-group">
          <label for="txtAge">Age</label>
          <input type="number" min="18" max="65" id="txtAge" name="age" [(ngModel)]="employee.age" class="form-control" placeholder="Enter your age">
        </div>
        <!-- Department -->
        <div class="form-group">
          <label for="ddDepartments">Departments</label>
          <select name="department" id="ddDepartments" [(ngModel)]="employee.department" #deparment='ngModel' class="form-control"
            required>
            <option value="">-- select a department --</option>
            <option *ngFor="let department of data.departments" [value]="department.value">
              {{ department.text}}
            </option>
          </select>
          <div *ngIf="deparment.errors?.required && deparment.touched" class="alert-danger">
            Deparment is required
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <!-- Email Address -->
        <div class="form-group">
          <label for="txtEmailAddress">Email Address</label>
          <input type="text" id="txtEmailAddress" name="emailaddress" [(ngModel)]="employee.emailaddress" placeholder="Enter your email address"
            class="form-control">
        </div>
        <!-- Phone Type and Phone Number -->
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>Phone Type</label>
              <div class="form-control">
                <label class="radio-inline" *ngFor="let phonetype of data.phonetypes">
                  <input type="radio" name="phonetype" [(ngModel)]="employee.phonetype" [value]="phonetype.value"> {{phonetype.text }}
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="txtPhoneNumber">Phone Number</label>
              <input type="text" id="txtPhoneNumber" name="phonenumber" [(ngModel)]="employee.phonenumber" placeholder="Enter your phone number"
                class="form-control">
            </div>
          </div>
        </div>
        <!-- Send notifications by -->
        <div class="form-group">
          <label>Send notifications by:</label>
          <div class="form-control">
            <input type="hidden" name="notificationmethods" #notificationMethods='ngModel' [(ngModel)]="isNotificationMethodSelected"
              required />
            <label class="checkbox-inline" *ngFor="let notificationmethod of data.notificationmethods; let i=index">
              <input type="checkbox" id="notificationmethod{{i}}" name="notificationMethod{{i}}" (change)="changeCheckbox(notificationmethod, $event)"
                [checked]="checkedStatus(notificationmethod)"> {{ notificationmethod.text }}
            </label>
          </div>
          <div *ngIf="notificationMethods.errors?.required " class="alert-danger">
            At least one notification method needs to be selected.
          </div>
        </div>
        <!-- Language Skills -->
        <div class="form-group">
          <label for="ddLanguages">Language Skills (multiple)</label>
          <select id="ddLanguages" name="languages" multiple [(ngModel)]="employee.languages" class="form-control">
            <option *ngFor="let language of data.languages" [value]="language.value">{{ language.text}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12">
        <!-- Notes -->
        <div class="form-group">
          <label for="txtNotes">Notes</label>
          <textarea id="txtNotes" name="notes" [(ngModel)]="employee.notes" rows="3" class="form-control" placeholder="Additional information"></textarea>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-primary pull-right">Submit</button>
      <div class="clearfix"></div>
    </div>
  </div>
</form>
<br/> {{ employeeForm.value | json }}
