<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Login</h2>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" #username class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" #password class="form-control">
          </div>
          <div class="pull-right">
            <button class="btn btn-primary" type='button' (click)='onSubmit(username.value, password.value)'>Login</button>
            <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
