<div class="panel panel-default">
  <div class="panel-heading">
    Logs`
  </div>
  <div class="panel-body">
    <li *ngFor="let message of loggerService.messages">{{ message }}</li>
  </div>
</div>
