<div class="col-md-3">
    <span *ngIf='!isEditing'>{{ employee.firstname }} </span>
      <input  type="text" *ngIf='isEditing' [value]='employee.firstname' #firstname (change)='employee.firstname = firstname.value' />
  </div>
  <div class="col-md-3">
    <span *ngIf='!isEditing'>{{ employee.lastname }}</span>
      <input *ngIf='isEditing' type="text" [value]='employee.lastname' #lastname (change)='employee.lastname = lastname.value'/>
  </div>
  <div class="col-md-3">
    <span *ngIf='!isEditing'>{{ employee.emailaddress }}</span>
      <input *ngIf='isEditing' type="text" [value]='employee.emailaddress' #emailaddress (change)='employee.emailaddress = emailaddress.value' />
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary" type="button" *ngIf="!isEditing"
     style="width:100px;"
     (click)='onEdit()'
     >Edit</button>
     <button class="btn btn-danger" type="button" *ngIf="!isEditing"
     style="width:100px;"
     (click)='onDelete(employee.id)'
     >Delete</button>
     <button class="btn btn-success" type="button" *ngIf="isEditing"
     style="width:100px;"
     (click)='onUpdate()'
     >Update</button>
  </div>
