<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
    Employee Detail Style:
    <input type="radio" name="detailstyle" value='inline'
    [checked]= 'detailStyle === "inline"' (change)='onDetailStyleChange("inline")'> Inline
    <input type="radio" name="detailstyle" [checked]= 'detailStyle === "external"'
    value="external" (change)='onDetailStyleChange("external")'> External
  </div>
</div>
</div>
<div class="row header">
    <div class="col-md-3">First Name
    </div>
    <div class="col-md-3">Last Name
    </div>
    <div class="col-md-3">Email Address
    </div>
    <div class="col-md-3">Actions
    </div>
  </div>
  <div class="row" *ngFor="let employee of employees">
    <app-employee-inline-detail [employee]='employee' (Delete)='onDelete($event)' [detailstyle]='detailStyle'></app-employee-inline-detail>
  </div>
