<div class="row">
  <div class="col-md-4">Address Line 1</div>
  <div class="col-md-8">
    <span *ngIf="!employeeSharedService.isAddressInfoEditMode">{{ address.addressline1 }}</span>
    <input *ngIf="employeeSharedService.isAddressInfoEditMode"
      type="text" #refAddressline1
      (input)="compareAddressLine(refAddressline1.value)"
      [value]='address.addressline1' />
  </div>
</div>
<div class="row">
  <div class="col-md-4">Address Line 2</div>
  <div class="col-md-8">{{ address.addressline2 }}</div>
</div>
<div class="row">
  <div class="col-md-4">City</div>
  <div class="col-md-8">{{ address.city }}</div>
</div>
<div class="row">
  <div class="col-md-4">State</div>
  <div class="col-md-8">{{ address.stateprovince }}</div>
</div>
<div class="row">
  <div class="col-md-4">Postal Code</div>
  <div class="col-md-8">{{ address.postalcode }}</div>
</div>
<div class="row">
  <div class="col-md-4">Country</div>
  <div class="col-md-8">{{ address.country }}</div>
</div>

